# Folder 'node_modules' di semua sub-folder
**/node_modules

# Folder build frontend (Vite)
frontend/dist

# File 'env' lokal frontend (jika ada)
frontend/.env

# File log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# File Sistem Operasi
.DS_Store
Thumbs.db

# File IDE
.vscode/
.idea/